@import '../variables';

#ai-interaction-form {
    display: flex;
    flex-direction: column;    
    margin-right:80px;
    margin-left:80px;
    grid-area: user;
  
    #user-input {
      padding: 0.5rem;
      border: none;
      width:100%;
    }
  
    button {
      padding: 0.5rem 1rem;
      margin: 8px;
      border: none;
      border-radius: 4px;
      background-color: $primary-color;
      color: $white;
      cursor: pointer;
  
      &:hover {
        background-color: $teal2;
      }
      &:disabled {
        background-color: $grey1;
        color: $grey2;
        cursor: not-allowed;
    }
    }
    .txtUserTextbox {
      width: 100%;
      border: 2px solid $grey1;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    textarea#user-input {      
      font-family: $font;      
      font-size: 1.1rem;
      resize: none;
    }
  }
  