<div id="ai-response" class="fader" >
    <div id="conversation-container">
        <div id="user-container">
            <h1>You</h1>
            {{previousAnswer}}
        </div>
        <div id="ai-container">
            <h1>Babel</h1>
            <div id="speech-container">
                <audio id="audioPlayer" autoplay>
                    <source src={{aiSpeechUrl}} type="audio/mpeg">
                </audio>
            </div>
            {{{openAIMessage}}}
        </div>
    </div>
</div>
