<form id="ai-interaction-form" hx-post="/submit-answer" hx-target="#ai-response" hx-swap="outerHTML transition:true">
    <div class="txtUserTextbox">
        <textarea id="user-input" name="userInput" placeholder="Type your answers here..." required></textarea>                
        <button type="submit" id="btnSend">Send</button>
        <button id="btnStartSpeechRecog" onclick="startRecognition()">Start Speaking</button>
        <button id="btnStopSpeechRecog" onclick="stopRecognition()" style="display:none">Stop Listening</button>
        <button id="btnGetSpokenAudio" hx-post="/submit-speech" hx-target="#ai-response" hx-swap="outerHTML" hx-select="#ai-response">Send Speech</button>
        <!--button id="btnTestSwap2" hx-target="#ai-response" hx-post="/test-swap2" hx-swap="outerHTML transition:true">Swap 2 things</button-->
    </div>
</form>