<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/javascripts/vendor/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/class-tools.js"></script>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
    {{> topbar}}
    <div id="container">
       {{> sidebar}}
       {{{body}}}
       {{> userSection}}
    </div>
    <script src="/javascripts/script.js"></script>
</body>
</html>
