<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/javascripts/vendor/htmx.min.js"></script>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
    <div id="top-bar">
        <!-- Alerts and other top bar content go here -->
        {{{alerts}}}
    </div>
    <div id="container">
        <aside id="sidebar">
            <!-- Sidebar content goes here -->
            {{{sidebar}}}
        </aside>
        <main id="content">
            <!-- Main content goes here -->
            {{{body}}}
        </main>
    </div>
    <script src="/javascripts/script.js"></script>
</body>
</html>
